<header>
	<nav class="navbar navbar-toggleable-lg navbar-inverse bg-inverse">
		<button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbar-menu"
						aria-label="Toggle navigation" (click)="toggleMenu()" [attr.aria-expanded]="!menuHidden">
			<span class="fa fa-bars"></span>
		</button>
		<button class="navbar-toggler navbar-icon-search" type="button" aria-label="Toggle search" 
						(click)="toggleSearch()" [attr.aria-expanded]="!searchHidden">
			<span class="fa fa-search"></span>
		</button>
		<a class="navbar-brand" href="/home">
			<img src="{{imgPath}}/assets/Logo_CNES.svg" alt="CNES centre national d'études spatiales - Logo" />
			<img src="{{imgPath}}/assets/Logo_IDOC.svg" alt="IDOC Integrated Data & Operation Center - Logo" />
		</a>
		<div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
			<div class="navbar-nav">
				<a class="nav-item nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
					<i class="fa fa-home"></i>
					<span translate>Home</span>
				</a>
				<a class="nav-item nav-link text-uppercase" routerLink="/about" routerLinkActive="active">
					<i class="fa fa-question-circle"></i>
					<span translate>About</span>
				</a>
			</div>
			<div class="navbar-nav ml-auto">
				<div class="nav-item" ngbDropdown>
					<a id="language-dropdown" class="nav-link" ngbDropdownToggle>{{currentLang}}</a>
					<div class="dropdown-menu dropdown-menu-right language-cube"aria-labelledby="language-dropdown">
						<button 
							class="dropdown-item" 
							*ngFor="let language of languages" 
							(click)="setLanguage(language)">
							{{language}}
						</button>
					</div>
				</div>
				<div class="nav-item" ngbDropdown placement="bottom-right">
					<a id="user-dropdown" class="nav-link" ngbDropdownToggle>
					  <i class="fa fa-user-circle"></i>
					</a>
					<div ngbDropdownMenu aria-labelledby="user-dropdown">
					  <h6 class="dropdown-header">
						<span translate>Logged</span> <b>{{username}}</b></h6>
					  <div class="dropdown-divider"></div>
					  <button class="dropdown-item" (click)="logout()" translate>Logout</button>
					</div>
				  </div>
			</div>
		</div>
	</nav>
</header>
<div [ngbCollapse]="searchHidden">
	<input [(ngModel)]="searchText" type="text" placeholder="{{ 'Search' | translate }}" appPrefixFocus appNextElement/>
	<ul [ngClass]="{'show': searchText}">
		<li *ngFor="let fit of fitsTab | filter:searchText; let i = index" 
			[attr.tabindex]="i" 
			(click)="getFitFile(fit)" 
			appChooseElement>
			{{fit}}
		</li>
	</ul>
</div>