<article *ngIf="mustBeLoaded">
	<h2><span translate>Description</span></h2>
	<div class="row">
		<div class="col-md-12">
				<article>
			<span class="h3 fa-file descriptionList" ><span translate>File</span> :</span>
			<span >{{ currentSlide.name }}</span>
			</article>
		</div>

		<div class="col-md-6" *ngIf="localisation">
			<article>
				<h3 class="waves-effect waves-teal fa-map-marker descriptionList"><span translate>Localisation</span></h3> 
				<ul class="descriptionList">
					<li *ngFor="let key of objectKeys(localisation)">
						<strong>{{ key }} : </strong><span>{{ localisation[key] }}</span>
					</li>
				</ul>
			</article>
		</div>
		<div class="col-md-6" *ngIf="object_type">
			<article>
				<h3 class="fa-cogs descriptionList"><span translate>TypeObject</span></h3> 
				<ul class="descriptionList">
					<li *ngFor="let key of objectKeys(object_type)">
						<strong>{{ key }} : </strong><span>{{ object_type[key] }}</span>
					</li>
				</ul>
			</article>
		</div>
	</div>
	<div class="accordion accordionMetaData">
		<h3 accordion class="fa-cubes descriptionList">{{ 'Metadata' | translate }}</h3> 
		<div>
			<ul class="descriptionList">
				<li *ngFor="let list of metadatas">
					<strong>{{ list[0] }} : </strong>
					<span>{{ list[1] }}</span>
					<span>{{ list[2] }}</span>
				</li>
			</ul>
		</div>
	</div>
</article>
