<article *ngIf="mustBeLoaded">
	<h2><span translate>Datacube</span></h2>
	<div #myDiv id="heatmap"></div>
	<!-- <canvas id="MizarCanvas"></canvas> -->
	<div class="controls">
			<div class="col-md-10" style="display: inline">
					<span translate>choiceColorscale</span> : <select [(ngModel)]="colorscale" (change)="changeColor()" class="colorscale">
						<option>YIOrRd</option>
						<option>YIGnBu</option>
						<option>RdBu</option>
						<option>Portland</option>
						<option>Picnic</option>
						<option>Jet</option>
						<option>Hot</option>
						<option>Greys</option>
						<option>Greens</option>
						<option>Electric</option>
						<option>Earth</option>
						<option>Bluered</option>
						<option>Blackbody</option>
						</select>
						<label><span translate>SetSmooth</span></label>
						<input type="checkbox" [(ngModel)]="smooth_color" (change)="setSmooth()" id="smooth_color" /> 
				</div>
		<p class="descriptionList"><span translate>CubeSlider</span>: {{ val.toFixed() }} / {{nbSlides}}</p>
		<p-slider 
			[(ngModel)]="val" 
			[animate]="true" 
			[min]="1" [max]="nbSlides" 
			[style]="{'width':'350px'}"
			(onSlideEnd)="sliderSelectSlide(val.toFixed()-1, long, lat)"></p-slider>
	<!--		
		<p class="descriptionList"><span translate>Opacity</span>: {{ val_opacity.toFixed(0) }}</p>
		<p-slider 
			[(ngModel)]="val_opacity" 
			[animate]="true" 
			[min]="0.00" [max]="100.00"			
			[style]="{'width':'350px'}" 
			[step]="1"
			(onSlideEnd)="sliderSelectOpacity(long, lat)"></p-slider>
	-->		
		<button class="btn" (click)="resetPlots()"><span translate>ResetPlot</span></button>
		
	</div>
</article>
