<div class="container-fluid">
	<div class="row">
		<app-loader class="col-md-6" [isLoading]="isLoadingCube" [message]="messageDataCubeLoading"></app-loader>
		<app-loader class="col-md-6" [isLoading]="isLoadingHisto" [message]="messageHistogramLoading"></app-loader>
	</div>	
	<div class="row">
		<app-data-cube  
			class="col-md-8"
			[hidden]="isLoadingCube" 
			(dataCubeLoadingStatus)="loadingChange($event)"
			[newImage]="newImage"
			[newFilterReset]="newFilterReset"
			[newHmax]="newHmax"
		>  
		</app-data-cube>

		<app-histogram 
			class="col-md-4"
			[hidden]="isLoadingHisto" 
			(histoLoadingStatus)="loadingChange($event)"
			(newImageEmitter)="loadingNewImage($event)" 
			(newResetEmitter)="loadingNewReseter($event)"
			(newHmaxEmitter)="loadingNewHmax($event)"
		>
		</app-histogram>
	</div>
	<div class="row">
		<app-loader class="col-md-6" [isLoading]="isLoadingSpectre" [message]="messageSpectreLoading"></app-loader>
		<app-loader class="col-md-6" [isLoading]="isLoadingDesc" [message]="messageDescLoading"></app-loader>
	</div>
	<div class="row">
		<app-spectre 
			class="col-md-6"
			[hidden]="isLoadingSpectre" 
			(spectreLoadingStatus)="loadingChange($event)"
		>
		</app-spectre>

		<app-description 
			class="col-md-6"
			[hidden]="isLoadingDesc" 
			(descLoadingStatus)="loadingChange($event)"
		>
		</app-description>
	</div>
</div>
