article {
	@import "../../../theme/theme-variables";
	@import "../dataCube/dataCube.component";

	h2 {
		margin: 0 0 1rem 0;
	}

	span {
		color: black;
	}

	.controls {
		padding: 1.6em;
		background-color: white;
		border-radius: 5px;
		box-shadow: 1px 1px 2px #bbb;
		margin: 1em 0;
		

		button {
			margin-left: 5%;
			max-width: fit-content;
			display: inline-block;

			&:last-child {
				display: block;
				margin: .5em auto 0;
			}

			&.active {
				background: $gray;
			}
		}	
	}
}