<article *ngIf="mustBeLoaded">
	<h2><span translate>Histogramme</span></h2>
	<div id="histogramme"></div>
	<div class="controls">
		<button class="btn" [ngClass]="{'active': activeLinear}" (click)="linear()"><span translate>Linear</span></button>
		<button class="btn" [ngClass]="{'active': activeExpo}" (click)="expo()"><span translate>Sqrt</span></button>
		<button class="btn" [ngClass]="{'active': activeSqr}" (click)="sqr()"><span translate>Sqr</span></button>
		<button class="btn" [ngClass]="{'active': activeAsin}" (click)="asin()"><span translate>Asin</span></button>
		<button class="btn" (click)="resetHisto()"><span translate>ResetFilter</span></button>
	</div>
</article>
